@use '../styles/variables' as *;

.home-flex {
  margin: 0 auto;
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-items: center;

  .home-room-button {
    text-decoration: none;
    font-size: 2rem;
    color: $text-color;
  }

  .home-room-button:active,
  .home-room-button:hover {
    cursor: pointer;
    color: $baby-blue;
  }
}

.home-welcome {
  color: white;
  font-size: 1.8rem;
  // background-color: white;
  padding: 4rem;
}

.home-rooms {
  display: flex;
  flex-direction: column;
  max-height: 45rem;
  overflow: scroll;
  gap: 3rem;
}

.message-counter {
  display: flex;
  max-width: 3rem;
  width: 3rem;
  border-radius: 4px;
  background-color: $baby-blue;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.room-group {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.message-loading {
  color: white;
}

.flex-input {
  display: flex;
  gap: 1rem;
}
