@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.login-container {
  margin: 0 auto;
  margin-top: 12.8rem;
  width: 40rem;
  height: 50rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      color: $text-color-darker-600;
      font-size: 2rem;
      // position: absolute;
      // top: 13rem;
    }
  }
  .login-icon {
    // position: absolute;
    // top: 22rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-svg {
    height: 12rem;
    width: 12rem;
    color: $ligher-blue;
  }
}

.form {
  margin-top: 6.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  input {
    padding: 1.5rem;
    height: 5.3rem;
    border: none;
    box-shadow: 0;
    color: $text-color;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    border-bottom: 1px solid white;
    background-color: $background-color;
  }

  input:focus {
    outline: none;
    text-decoration: none;
    border: 2px solid $ligher-blue;
    border-radius: 5px;
  }

  .button {
    margin-top: 2rem;
    max-width: 24.4rem;
    @include button-styles($ligher-blue, $text-color);
  }

  span {
    color: $text-color-darker-600;
    font-size: 1.2rem;
  }

  .link {
    text-decoration: none;
    color: $text-color-darker-500;
    font-weight: 600;
  }
}
