@use '../styles/variables' as *;
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  .navigation {
    width: 120rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: $background-color;

    .logo-left {
      color: $text-color;
      font-weight: bold;
      letter-spacing: 0.7px;
    }

    .items-right {
      display: flex;
      gap: 3rem;
    }
    .link {
      text-decoration: none;
      color: $text-color;
      font-weight: bold;
      letter-spacing: 0.7px;
      transition: all 0.2s ease-in;
    }

    .link:hover,
    .link:active {
      color: $baby-blue;
    }
  }
}
