.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;

  .logo-left {
    color: white;
  }

  .items-right {
    display: flex;
    gap: 2rem;

    .link {
      text-decoration: none;
      color: white;
    }
  }
}
